<% provide(:title, 'Register') %>

<div class="row whiteUI">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Register</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <div class="form-group">
      <%= f.label :firstName, "First Name" %>
      <%= f.text_field :firstName, class: 'form-control' %>
      </div>
    
      <div class="form-group">
      <%= f.label :lastName, "Last Name" %>
      <%= f.text_field :lastName, class: 'form-control' %>
      </div>
  
      <div class="form-group">
      <%= f.label :major %>
      <%= f.select :major, @major %>
      </div>
   
      <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      </div>
  
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
       
      <div class="form-group">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
      
    <% end %>
  </div>
</div>