<% @majors.each do |major| %>
  <%= form_for major, url: majors_path + '/' + major.major, method: :patch do |f| %>
    <%= hidden_field_tag(:major_id, major.id) %>
    <p>
      <%= f.label :course %><br>
      <%= f.text_field :course %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <%end%>
<%end%>
<br/>
Add new </br>
<%= form_for :major, url: majors_path do |f| %>
    
    <p>
      <%= f.label :course %><br>
      <%= f.text_field :course %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
<% end %>