<div style="padding-top: 0;" id="editMajor" class="row whiteUI">
  <div class="container">
    <div >
      <h1><a href="<%= majors_path %>">Majors</a></h1>
      <h2 ><%= @major.titleize %></h2>
      <a class="btn btn-default btn-lg " href=<%= edit_major_path(@major) %>>Add or Edit Courses</a>
    </div>
    
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @courses.each do |course| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= course.id %>">
            <div class="panel-title">
              <a  data-toggle="collapse" data-parent="#accordion" href="#collapse<%= course.id %>" aria-expanded="true" aria-controls="collapse<%= course.id %>">
                  <%= course.title %>
              </a>
            </div>
          </div>
          <div id="collapse<%= course.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= course.id %>">
            <div class="panel-body">
              <% if course.description and course.coreqDesc and course.prereqDesc %>
                <code>Description:</code> <%= course.description %><br/>
                <code>Corequisites:</code> <%= course.coreqDesc %><br/>
                <code>Prerequisites:</code> <%= course.prereqDesc %><br/>
              <%end%>
            </div>
          </div>
        </div>
    
    <%end %>
    </div>
  </div>
</div>