<div style="padding:0" class="row whiteUI">
<div class="container">
    <h1>Courses</h1>
    <a onclick="$('.table-responsive').hide()" href="#">Collapse all</a> |
    <a onclick="$('.table-responsive').show()" href="#">Expand all</a>
      <% @uniqcourses.each do |a| %>
        <a onclick="$(this).next().toggle()" href="#<%=a%>" id="<%=a%>"><h3><%= a %></h3></a>
        <div class="table-responsive">
          <table class="table table-striped">
            <% @courses[a].each do |b| %>
              <tr>
                <td><%= link_to b.name, b %></td>
                <td><%= b.title.split('.')[1].strip %></td>
              </tr>
            <%end%>
          </table>
        </div>
      <% end %>
    </div>
    
</div>
</div>
<script type="text/javascript">

</script>