<div class="row whiteUI">


  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1><%= @course.title.split('.')[1] ? @course.title.split('.')[1] : @course.title %><br/>
    <small><%= @course.name %></small></h1>
  
  <% if user_admin? %>
    <div class="btn-group" role="group">
      <a class="btn-default btn" href=<%= edit_course_path(@course) %>><span class="glyphicon glyphicon-edit"></span> Edit</a>
      <a data-confirm="Are you sure?" data-method="delete" class="btn-default btn" rel="nofollow" href=<%= course_path(@course) %>><span class="glyphicon glyphicon-remove"></span>Remove</a>
    </div>
    <%end%>
  </div>
</div>

<div class="row whiteUI">
<div class="col-md-2"></div>
<div class="col-md-8">
  <h3>Course Description</h3>
  <p><%= @course.description %></p>
  <% if @course.coreqDesc? %>
    <h3>Corequisite: </h3>
    <p><%= @course.coreqDesc %></p>
  <%end%>
  <% if @course.prereqDesc? %>
    <h3>Prerequisite: </h3>
    <p><%= @course.prereqDesc.gsub(':','') %></p>
  <%end%>
</div>
</div>
<div class="row whiteUI device-md visible-md visible-lg">
<div class="col-md-2"></div>
<div class="col-md-8">
  <center><div style="width: 90%; height:1px; background-color: gray; margin: 25px 0;"></div></center>
  
      <h3 style="margin-top:0;">Sections</h3>
  
  <table class="table table-responsive table-striped table-hover">
      <tr>
        <td>Name</td>
        <td>Section</td>
        <td>Class Time</td>
        <td>Instructor</td>
        <td>Location</td>
        <td>Enrolled</td>
        <% if user_admin? %>
        <td>Edit</td>
        <td>Remove</td>
        <%end%>
      </tr>
     <% @sections.each do |section| %>
      <tr>
        <td><%= @course.name %></td>
        <td><%= section.section %></td>
        <td><%= section.classTime.gsub('; - ', '') %></td>
        <td><%= section.instructor %></td>
        <td><%= section.location %></td>
        <td><%= section.enrolled + '/'+ section.size %></td>
        <% if user_admin? %>
        <td><a class="btn btn-default btn-xs" href=<%= edit_section_path(section) %>><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-default btn-xs" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%= section_path(section) %>><span class="glyphicon glyphicon-remove"></span></a></td>
        <%end%>
      </tr>
      
      
    <%end%>
  </table>
  </div>
</div>